@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

html:not(.dark) body,
html:not(.dark) #root {
  background-color: #ffffff;
}

html.dark body,
html.dark #root {
  background-color: #020617;
}